# dependências
node_modules/

# variáveis de ambiente
.env

# resultados e relatórios do playwright
test-results/
playwright-report/
blob-report/

# cache do Playwright
playwright/.cache/

# arquivos do sistema
.DS_Store
Thumbs.db

# configurações locais
.vscode/

# arquivos gerados pelo playwright-BDD
.features-gen/

# relatório BDD
playwright-report-bdd/